<div class="col-md-7 mb-3">
  {% if register %}
    <div id="checkout-register">{{ register }}</div>
  {% endif %}
  {% if payment_address %}
    <div id="checkout-payment-address">{{ payment_address }}</div>
  {% endif %}
  {% if shipping_address %}
    <div id="checkout-shipping-address">{{ shipping_address }}</div>
  {% endif %}

  {% if services %}
    <div class="form-group mt-3">
      <label for="input-service"><strong>Pickup Spot</strong></label>
      <select name="service_id" id="input-service" class="form-control">
        <option value="">-- Por favor, selecione --</option>
        {% for service in services %}
          <option value="{{ service.id }}" {% if selected_service_id == service.id %}selected{% endif %}>
            {{ service.name }}
          </option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
</div>
