<fieldset>
  <legend>{{ heading_title }}</legend>
  <div class="input-group">
    <span class="input-group-text"><i class="fa fa-truck"></i></span>
    <input type="text" name="shipping_method_text" value="{{ shipping_method }}" placeholder="{{ entry_shipping_method }}" id="input-shipping-method" class="form-control" readonly/>
    <button type="button" id="button-shipping-methods" class="btn btn-primary">{{ button_choose }}</button>
  </div>
  <input type="hidden" name="code" value="{{ code }}" id="input-shipping-code"/>
  <div id="error-shipping-method" class="invalid-feedback"></div>
</fieldset>

<script type="text/javascript">
$(document).ready(function() {
    // Open shipping methods modal
    $('#button-shipping-methods').on('click', function() {
        var $button = $(this);

        $.ajax({
            url: 'index.php?route=checkout/shipping_method.quote&language={{ language }}',
            dataType: 'json',
            beforeSend: function() {
                $button.prop('disabled', true).text('Loading...');
            },
            complete: function() {
                $button.prop('disabled', false).text('{{ button_choose }}');
            },
            success: function(json) {
                $('#input-shipping-method').removeClass('is-invalid');
                $('#error-shipping-method').removeClass('d-block');

                if (json.error) {
                    $('#input-shipping-method').addClass('is-invalid');
                    $('#error-shipping-method').html(json.error).addClass('d-block');
                    return;
                }

                if (json.shipping_methods) {
                    let html = `
                    <div id="modal-shipping" class="modal" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><i class="fa fa-truck"></i> {{ text_shipping_method|escape('js') }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <div class="modal-body">
                            <form id="form-shipping-method">
                              <p>{{ text_shipping|escape('js') }}</p>
                    `;

                    let first = true;

                    $.each(json.shipping_methods, function(i, method) {
                        if (method.error) {
                            html += `<div class="alert alert-danger">${method.error}</div>`;
                        } else {
                            $.each(method.quote, function(j, quote) {
                                let code = i + '-' + j.replaceAll('_', '-');
                                let checked = '';

                                let current = $('#input-shipping-code').val();

                                if (quote.code === current || (!current && first)) {
                                    checked = 'checked';
                                    first = false;
                                }

                                html += `
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="shipping_method" value="${quote.code}" id="input-shipping-method-${code}" ${checked}>
                                    <label class="form-check-label" for="input-shipping-method-${code}">
                                      ${quote.text}
                                    </label>
                                  </div>
                                `;
                            });
                        }
                    });

                    html += `
                              <div class="text-end mt-3">
                                <button type="submit" id="button-shipping-method" class="btn btn-primary">{{ button_continue|escape('js') }}</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>`;

                    $('#modal-shipping').remove(); // remove if exists
                    $('body').append(html);
                    $('#modal-shipping').modal('show');
                }
            },
            error: function(xhr) {
                console.error(xhr.responseText);
            }
        });
    });
});
</script>
