{{ header }}
{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      {{ error_warning }}
    </div>
    {% endif %}

    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_on_spot_status" id="input-status" class="form-select">
                <option value="1" {{ payment_on_spot_status ? 'selected' : '' }}>{{ text_enabled }}</option>
                <option value="0" {{ not payment_on_spot_status ? 'selected' : '' }}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>

          <div class="text-end">
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-save"></i> {{ button_save }}</button>
            <a href="{{ back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i> {{ button_back }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{ footer }}